<h1>Cupon Form</h1>

<%= form_tag cupons_path do %>
    <label>Cupon code:</label><br>
    <%= text_field_tag :cupon_code %><br>
  
    <label>Store:</label><br>
    <%= text_field_tag :store %><br>
  
    <%= submit_tag "Submit Cupon" %>
  <% end %>