<form action='<%=coupons_path%>' method="GET">
    <%= form_tag coupons_path do %>
        <% @coupons.each do |coupon|%>
            <div><%= link_to coupon.coupon_code, coupon_path(coupon) %>|<%= coupon.store%>  </div>
        <%end%>
    <%end%>

</form>