<h2>Coupons</h2>

<% @coupons.each do |coupon| %>
  <%= content_tag(:div, coupon, class: "container") do %>
    <%= content_tag(:p, "#{coupon.coupon_code}: #{coupon.store}") %>
  <% end %>
<% end %>

