<h1>Coupons#index</h1>
<p>Find me in app/views/coupons/index.html.erb</p>

<% @coupons.each do |coupon|%>
  <tr>
    <td> <%= link_to coupon.coupon_code, coupon_path(coupon) %></td>
    <td> <%= link_to coupon.store, coupon_path(coupon) %></td>
  </tr>
<% end %>
