<!DOCTYPE html>
<html>  
    <head>
        <title>All Coupons</title>
    </head>
    <body>
        <% @coupons.each do |coupon| %>
            <%= link_to coupon.coupon_code, coupon_path(coupon) %>
            <%=coupon.store %>
        <% end %>
    </body>
</html>