<h1>New Coupon Form</h1>
<form method= "post" action= "<%= coupons_path %>">
    <label>Coupon Code:</label>
    <input type= "text" name= "coupon[coupon_code]">
    <br>
    <label>Store Applied To:</label>
    <input type= "text" name= "coupon[store]">
    <br>
    <input type= "submit" value= "Submit Coupon">
</form>