<h1>Coupon Form</h1>

<form action="/coupons" method="post">
  <label>Coupon Code: </label><br>
  <input type="text" name="coupon_code" id="coupon[coupon_code]"><br>

  <label>Store: </label><br>
  <input type="text" name="store" id="coupon[store]"><br>

  <input type="submit" value="Submit Coupon">
</form>
