<h1>Coupons Show Page</h1>
    <h2>Coupons#show</h2>
<p>Find me in app/views/coupons/show.html.erb</p>

<%if @coupon%>
    <h1>Coupon Code: <%=@coupon.coupon_code%></h1><br>
    <h1>Coupon Store: <%=@coupon.store%><h1><br>
<%end%>

